<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420085289541-duk95536qoaf0sc3hhga1nqbqu8hek47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420085289541-duk95536qoaf0sc3hhga1nqbqu8hek47</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420085289541-6k99q3kkt4r3v44bpev13qc12718il26.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCL7HARcALRzxOBkgVXDdYhKsFSBDuSgQU</string>
	<key>GCM_SENDER_ID</key>
	<string>420085289541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testchatapp</string>
	<key>PROJECT_ID</key>
	<string>chatfluttertest-ac615</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfluttertest-ac615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420085289541:ios:418ffb95a768608f88892c</string>
</dict>
</plist>